{% extends 'base.html' %}

{% block content %}
	<h4>Exercice 6 - Commits</h4>
    <div id="chart_div" class="mt-5"></div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            fetch('/commits/data/')
                .then(response => response.json())
                .then(data => {
                    var dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('string', 'Minute');
                    dataTable.addColumn('number', 'Nombre de commits');

                    data.results.forEach(entry => {
                        dataTable.addRow([entry.minute.toString(), entry.count]);
                    });

                    var options = {
                        title: 'Commits par minute',
                        legend: { position: 'none' },
                        hAxis: { title: 'Minute (0-59)' },
                        vAxis: { title: 'Nombre de commits' }
                    };

                    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                    chart.draw(dataTable, options);
                });
        }
    </script>
{% endblock %}