{% extends 'base.html' %}

{% block content %}
    <p><strong>Exercice 1 :</strong> Projet de Brahim TAHIRI</p>
    <a href="{{ url_for('contact') }}" class="btn btn-primary">Exercice 2 et 5</a>
    <a href="{{ url_for('tawarano') }}" class="btn btn-primary">Exercice 3 (Données en JSON)</a>
    <a href="{{ url_for('rapport') }}" class="btn btn-primary">Exercice 3bis/ter</a>
    <a href="{{ url_for('histogramme') }}" class="btn btn-primary">Exercice 4</a>
    <a href="{{ url_for('extract-minutes/2024-02-11T11:57:27Z') }}" class="btn btn-primary">Exercice 6</a>
{% endblock %}